/** @define theme */

.theme--dark {
  /* card */

  --theme-card-background: var(--theme-elevation-1-color);
  --theme-card-border: var(--theme-card-background);

  /* divider */

  --theme-divider-color: rgba(255 255 255 / 12%);

  /* elevation */

  --theme-elevation-1-color: #1e1e1e;

  /* text */

  --theme-text-primary: white;
}
