.elevation-0 {
  box-shadow: var(--theme-shadow-umbra-0), var(--theme-shadow-penumbra-0),
    var(--theme-shadow-ambient-0);
}

.elevation-1 {
  box-shadow: var(--theme-shadow-umbra-1), var(--theme-shadow-penumbra-1),
    var(--theme-shadow-ambient-1);
}

.elevation-2 {
  box-shadow: var(--theme-shadow-umbra-2), var(--theme-shadow-penumbra-2),
    var(--theme-shadow-ambient-2);
}

.elevation-3 {
  box-shadow: var(--theme-shadow-umbra-3), var(--theme-shadow-penumbra-3),
    var(--theme-shadow-ambient-3);
}

.elevation-4 {
  box-shadow: var(--theme-shadow-umbra-4), var(--theme-shadow-penumbra-4),
    var(--theme-shadow-ambient-4);
}

.elevation-5 {
  box-shadow: var(--theme-shadow-umbra-5), var(--theme-shadow-penumbra-5),
    var(--theme-shadow-ambient-5);
}

.elevation-6 {
  box-shadow: var(--theme-shadow-umbra-6), var(--theme-shadow-penumbra-6),
    var(--theme-shadow-ambient-6);
}

.elevation-7 {
  box-shadow: var(--theme-shadow-umbra-7), var(--theme-shadow-penumbra-7),
    var(--theme-shadow-ambient-7);
}

.elevation-8 {
  box-shadow: var(--theme-shadow-umbra-8), var(--theme-shadow-penumbra-8),
    var(--theme-shadow-ambient-8);
}

.elevation-9 {
  box-shadow: var(--theme-shadow-umbra-9), var(--theme-shadow-penumbra-9),
    var(--theme-shadow-ambient-9);
}

.elevation-10 {
  box-shadow: var(--theme-shadow-umbra-10), var(--theme-shadow-penumbra-10),
    var(--theme-shadow-ambient-10);
}

.elevation-11 {
  box-shadow: var(--theme-shadow-umbra-11), var(--theme-shadow-penumbra-11),
    var(--theme-shadow-ambient-11);
}

.elevation-12 {
  box-shadow: var(--theme-shadow-umbra-12), var(--theme-shadow-penumbra-12),
    var(--theme-shadow-ambient-12);
}

.elevation-13 {
  box-shadow: var(--theme-shadow-umbra-13), var(--theme-shadow-penumbra-13),
    var(--theme-shadow-ambient-13);
}

.elevation-14 {
  box-shadow: var(--theme-shadow-umbra-14), var(--theme-shadow-penumbra-14),
    var(--theme-shadow-ambient-14);
}

.elevation-15 {
  box-shadow: var(--theme-shadow-umbra-15), var(--theme-shadow-penumbra-15),
    var(--theme-shadow-ambient-15);
}

.elevation-16 {
  box-shadow: var(--theme-shadow-umbra-16), var(--theme-shadow-penumbra-16),
    var(--theme-shadow-ambient-16);
}

.elevation-17 {
  box-shadow: var(--theme-shadow-umbra-17), var(--theme-shadow-penumbra-17),
    var(--theme-shadow-ambient-17);
}

.elevation-18 {
  box-shadow: var(--theme-shadow-umbra-18), var(--theme-shadow-penumbra-18),
    var(--theme-shadow-ambient-18);
}

.elevation-19 {
  box-shadow: var(--theme-shadow-umbra-19), var(--theme-shadow-penumbra-19),
    var(--theme-shadow-ambient-19);
}

.elevation-20 {
  box-shadow: var(--theme-shadow-umbra-20), var(--theme-shadow-penumbra-20),
    var(--theme-shadow-ambient-20);
}

.elevation-21 {
  box-shadow: var(--theme-shadow-umbra-21), var(--theme-shadow-penumbra-21),
    var(--theme-shadow-ambient-21);
}

.elevation-22 {
  box-shadow: var(--theme-shadow-umbra-22), var(--theme-shadow-penumbra-22),
    var(--theme-shadow-ambient-22);
}

.elevation-23 {
  box-shadow: var(--theme-shadow-umbra-23), var(--theme-shadow-penumbra-23),
    var(--theme-shadow-ambient-23);
}

.elevation-24 {
  box-shadow: var(--theme-shadow-umbra-24), var(--theme-shadow-penumbra-24),
    var(--theme-shadow-ambient-24);
}
